<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" 
           modules="httpPlatformHandler"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform 
        processPath="<Project-Path>\.venv\Scripts\streamlit.exe"
        arguments="run &quot;<Project-Path>\<App_EntryPoint>.py&quot;
        --server.address 0.0.0.0
        --server.port %HTTP_PLATFORM_PORT%                 
        --server.baseUrlPath <Endpoint-Same-as-IIS-App-Name>
        --server.headless true 
        --server.enableCORS false 
        --server.enableXsrfProtection false"
        startupTimeLimit="120"
        stdoutLogEnabled="true"
        stdoutLogFile="<Project-Path>\logs\stdout.log">

      <environmentVariables>
         
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
